agentic-os/n8n-workflows/agentic-os-base.json
{
  "id": "coPyyXpv16CN87dK",
  "name": "agentic-os-base",
  "active": 1,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "skill-run",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "adeece88-d2dc-4d97-af0c-235e9372a3bf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        -176
      ],
      "webhookId": "agentic-os-skill-run"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "skills",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "slug",
              "condition": "eq",
              "keyValue": "={{ $json.body.skill_slug }}"
            }
          ]
        }
      },
      "id": "155a3825-7fdc-440f-95ed-7c829f9dddea",
      "name": "Supabase: Get Skill",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -96,
        -176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "MNwgdM41X9upQ1zY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "active-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7b3339f9-09d4-4b84-8765-ec2ca7da93b1",
      "name": "IF: Skill Active",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        144,
        -176
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.91.142.86:4242/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($('Webhook').item.json.body.prompt) }},\n  \"skill_id\": \"{{ $('Supabase: Get Skill').item.json.id }}\",\n  \"triggered_by\": {{ JSON.stringify($('Webhook').item.json.body.triggered_by) }}\n}",
        "options": {
          "timeout": 240000
        }
      },
      "id": "2897f4d9-2565-4e93-a416-a956241ff64d",
      "name": "HTTP: Call Mac",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -256
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Pi14vzSYufwPmjWf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "runs",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.run_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ended_at",
              "fieldValue": "={{ $now.toISO() }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "success"
            },
            {
              "fieldId": "output",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "2bc06a62-ebcb-4ff6-a3db-a7b2621815b9",
      "name": "Supabase: Update Run",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        -256
      ],
      "credentials": {
        "supabaseApi": {
          "id": "MNwgdM41X9upQ1zY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"run_id\": {{ JSON.stringify($('Webhook').item.json.body.run_id) }},\n  \"skill_slug\": {{ JSON.stringify($('Webhook').item.json.body.skill_slug) }}\n}",
        "options": {}
      },
      "id": "4aa5f4a5-6b1f-46b5-8c91-5a0ba6a6a6f6",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        -256
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"skill not active\",\n  \"skill_slug\": {{ JSON.stringify($('Webhook').item.json.body.skill_slug) }},\n  \"status\": {{ JSON.stringify($('Supabase: Get Skill').item.json.status) }}\n}",
        "options": {}
      },
      "id": "0ac05989-8484-47b1-a920-bc6bf40f2654",
      "name": "Respond: Not Active",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        352,
        -64
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase: Get Skill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Get Skill": {
      "main": [
        [
          {
            "node": "IF: Skill Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Skill Active": {
      "main": [
        [
          {
            "node": "HTTP: Call Mac",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Not Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Call Mac": {
      "main": [
        [
          {
            "node": "Supabase: Update Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Update Run": {
      "main": [
        [
          {
            "node": "Respond: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}